.sidebar-logo {
    max-width: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: block;
}

.sidebar-logo-link {
    display: block;
}

.quarto-sidebar-header{
  margin:0 auto;
}

.sidebar-header {
  margin:0 auto;
}

.sidebar-tools-main.tools-wide {
  margin:0 auto;
}

img {
  max-width: 100%;
}

.navbar-brand.navbar-brand-logo img.navbar-logo{
  max-height: 34px;
}

main.content {
  max-width: 900px
}